<header>
<nav class="navbar navbar-expand-lg navbar-dark <%= 'navbar-custom bg-info fixed-top'%>">
    <%= link_to "Proview", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="" data-toggle="modal" data-target="#exampleModalLong">
            About
          </a>
        </li>
      </ul>
      <p class="border-line" style= "color:white;"></p>
             <ul class="navbar-nav">
             <% if user_signed_in?  %>
                <li class="nav-item">
                    <%=link_to current_user.nickname,"/users/#{current_user.id}" ,method: :get,:class =>'text-white nav-link' %>
                    </li>
                <li class="nav-item ">
                <%= link_to 'ログアウト' ,destroy_user_session_path, method: :delete , :class => "nav-link text-white"%> 
                </li>
                <li class="nav-item">
                <%=link_to '投稿',new_post_path(current_user.id) ,method: :get, :class =>"nav-link text-white"%>
                </li>
            <%else%>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, :class => 'btn btn-info post nav-link text-white'  %>
            </li>
            <li class="nav-item">
            <%= link_to 'サインイン',new_user_registration_path, :class => 'post btn btn-info nav-link text-white'%>
            <% end %>
            </li>
          </div>
        </nav>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="about_find">
          <h1>映画を探す</h1>
          <p>映画予告から映画を探そう</p>
        </div>
        <div class="about_review">
          <h1>映画をレビューする</h1>
          <p>映画をレビューしよう</p>
        </div>
      </div>
    </div>
  </div>
</div>
